html {
    font-family: "Garamond Premier Pro",Charter,"Times New Roman",serif;
    font-size: 137.5%;
    line-height: 1.40909091em;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    min-height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@media (min-width: 1111px) {
    html {
        font-size:112.5%;
        line-height: 1.38888889em
    }
}

*,*::before,*::after {
    box-sizing: inherit
}

body {
    margin: 0;
    padding: 0;
}

 



h1,.header__site-name {
    font-size: 1.27272727rem;
    line-height: 2.11363636rem;
    margin-top: 1.40909091rem;
    margin-bottom: 1.40909091rem
}

h2 {
    font-size: 1.18181818rem;
    line-height: 2.11363636rem;
    margin-top: 1.40909091rem;
    margin-bottom: 1.40909091rem
}

h3 {
    font-size: 1.09090909rem;
    line-height: 2.11363636rem;
    margin-top: 1.40909091rem;
    margin-bottom: 1.40909091rem
}

h4 {
    font-size: 1rem;
    line-height: 1.40909091rem;
    margin-top: 1.40909091rem;
    margin-bottom: 1.40909091rem
}

h5 {
    font-size: .81818182rem;
    line-height: 1.40909091rem;
    margin-top: 1.40909091rem;
    margin-bottom: 1.40909091rem
}

h6 {
    font-size: .72727273rem;
    line-height: 1.40909091rem;
    margin-top: 1.40909091rem;
    margin-bottom: 1.40909091rem
}



@media (min-width: 666px) {
    h1,.header__site-name {
        font-size:1.88888889rem;
        line-height: 2.81818182rem;
        margin-top: 1.40909091rem;
        margin-bottom: 1.40909091rem
    }

    h2 {
        font-size: 1.55555556rem;
        line-height: 2.11363636rem;
        margin-top: 1.40909091rem;
        margin-bottom: 1.40909091rem
    }

    h3 {
        font-size: 1.22222222rem;
        line-height: 2.11363636rem;
        margin-top: 1.40909091rem;
        margin-bottom: 1.40909091rem
    }

    h4 {
        font-size: 1rem;
        line-height: 1.40909091rem;
        margin-top: 1.40909091rem;
        margin-bottom: 1.40909091rem
    }

    h5 {
        font-size: .88888889rem;
        line-height: 1.40909091rem;
        margin-top: 1.40909091rem;
        margin-bottom: 1.40909091rem
    }

    h6 {
        font-size: .77777778rem;
        line-height: 1.40909091rem;
        margin-top: 1.40909091rem;
        margin-bottom: 1.40909091rem
    }
}


.divider,hr {
    margin: 1.40909091rem 0;
    border: 0;
    border-top: 1px solid #ccc
}

.divider>:first-child,hr>:first-child {
    margin-top: 1.40909091rem
}

blockquote {
    margin: 1.40909091rem 2rem
}

dl,ol,ul {
    margin: 1.40909091rem 0
}

dd {
    margin: 0 0 0 44px
}

ol,ul {
    padding: 0 0 0 44px
}

ol ol,ol ul,ul ol,ul ul {
    margin: 0
}

figure {
    margin: 1.40909091rem 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

p,pre {
    margin: 1.05681818rem 0
}

code,kbd,samp,pre {
    font-family: Menlo,"Ubuntu Mono","DejaVu Sans Mono","Courier New",Courier,monospace,sans-serif;
    font-size: 1em
}

a {
    color: #000;
    -webkit-text-decoration-skip: objects
}


:visited {
    color: #000
}
a:hover,a:focus {
    color: #333
}

a:active {
    color: #c00
}

b,strong {
    font-weight: inherit
}

b,strong {
    font-weight: bolder
}


.page {
    background-color: #fff
}

@supports (display: grid) {
    .layout__page {
        display:grid;
        grid-template-areas:
            'head'
            'nav'
            'top'
            'main'
            'side1'
            'side2'
            'bottom'
            'foot';
        grid-template-rows: auto auto auto 1fr auto auto auto auto;
        grid-template-columns: 1fr;
    }

    @media (min-width: 999px) {
        .layout__page {
            grid-template-rows:auto auto auto 1fr auto auto
        }

        .layout__sidebar-first {
            grid-template-areas: 'head head' 'nav nav' 'side1 top' 'side1 main' 'side1 bottom' 'foot foot';
            grid-template-columns: 1fr 2fr
        }

        .layout__sidebar-second {
            grid-template-areas: 'head head' 'nav nav' 'top side2' 'main side2' 'bottom side2' 'foot foot';
            grid-template-columns: 2fr 1fr
        }

        .layout__sidebar-two {
            grid-template-areas: 'head head head' 'nav nav nav' 'side1 top side2' 'side1 main side2' 'side1 bottom side2' 'foot foot foot';
            grid-template-columns: 1fr 2fr 1fr
        }
    }

    .layout__header {
        grid-area: head
    }

    .layout__navigation {
        grid-area: nav
    }

    .layout__page-top {
        grid-area: top
    }

    .layout__main {
        grid-area: main
    }

    .layout__first-sidebar {
        grid-area: side1
    }

    .layout__second-sidebar {
        grid-area: side2
    }

    .layout__page-bottom {
        grid-area: bottom
    }

    .layout__footer {
        grid-area: foot
    }
}

@media (min-width: 666px) {
    .header {
        display:flex
    }
}

.header__logo {
    margin: 0 20px 0 0
}


.header__logo-image {
    vertical-align: bottom
}

.header__site-name {
    margin: 0;
    display: inline-block
}


.header__site-link:link,.header__site-link:visited {
    color: #000;
    text-decoration: none
}

.header__site-link:hover,.header__site-link:focus {
    text-decoration: underline
}

@media (min-width: 666px) {
    .header__region {
        margin-left:auto
    }
}

.hidden,html.nojs .nojs-hidden,html.js .js-hidden {
    display: none
}



.navbar {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    text-align: left
}

.navbar__item,.navbar li {
    padding: 0 10px 0 0;
    list-style-type: none;
    list-style-image: none
}


body {
    background-color: #eee
}


.page {
    background-color: #fff
}

.header {
    padding-top: 10px
}

@media (min-width: 666px) {
    .header {
        padding-top:20px
    }
}

.main-menu {
    margin-top: .70454545rem;
    outline: 0
}

.main-menu li {
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: 0;
}

.main-menu a {
    display: block;
    background-color: #333;
    color: #fff;
    padding: 2px 8px;
    text-decoration: none
}

.main-menu a:hover,.main-menu a:focus {
    background-color: #666
}


.main-menu a:active,.main-menu a.active {
    background-color: #333;
    text-decoration: underline
}

.menu a.active {
    text-decoration: none
}


.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal
}


